<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="mapperFilesFolder" value="F:\code\heima\health_parent\health_dao\src\main\resources\com\lixin\health\dao" />
        <option name="mapperFilesFolderList">
          <list>
            <option value="F:\code\heima\health_parent\health_dao\src\main\resources\com\lixin\health\dao" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>